.venv/
__pycache__/
.secrets/
.env
response.mp3
.gemini/

# User-specific MCP configuration
config/mcp_registry.json

# Google Auth Secrets
assistant/core/auth/client_secret_google.json
assistant/core/auth/token.json
/.vscode
